div.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.mainText {
  font-size: 3rem;

  padding-top: 2rem;
}

div.searchBoxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: solid 1px rgb(86, 10, 207);
  border-radius: 3rem;

  margin-bottom: 4rem;
}

input.searchBox {
  margin: 1rem;
  border: none;
  outline: none;
  background: none;
  color: white;
  font-weight: 900;
}

button.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4rem;
  padding: 0 1rem;

  border: none !important;
  border-radius: 3rem;
  background: rgb(86, 10, 207);

  font-weight: bold;
  color: white;
}

button.searchIcon:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

p.tempText {
  color: rgb(173, 173, 173);
  font-size: 1.3rem;
}
